<% content_for :title do%>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_fs(:nice_date)%>
<% end %>
<p style="color: green"><%= notice %></p>

<%= render @entry %>
<div class="columns mt-6 is-centered">
  <div class="columns is-mobile">
    <div class="column">
      <%= link_to "Edit this entry", edit_entry_path(@entry), class: "button is-grey" %> 
      <%= button_to "Destroy this entry", @entry, method: :delete, form:{data: {turbo_confirm: "Are you sure?" }}, class: "button is-grey" %>
  </div>
</div>
